* {
  margin: 0;
  cursor: default;
  background-color: transparent;
  user-select: none;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  background-color: #fccf31;
}

body {
  /* food themed background gradient */
  background: linear-gradient(135deg, #fccf31 10%, #f55555 100%);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  overflow-x: hidden;
}

h1 {
  color: white;
  font-size: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: 1s ease-in-out;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  text-align: center;
}

h2 {
  color: #ffffff;
  font-size: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.linkBtn {
  color: #e0611c;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid white;
  padding: 1rem;
  transition: 0.2s;
  cursor: pointer;
  z-index: 10;
}

.linkBtn:hover {
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px white;
}

p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  width: 70%;
  text-align: start;
  color: white;
  line-height: 2rem;
  background-color: #0f20bb29;
  padding: 2rem;
  transition: 0.3s ease;
  border-radius: 20px;
  z-index: 10;
}

p:hover {
  background-color: #bb2e0f;
  transition: 0.3s;
  transform: scale(1.1) rotate(-5deg);
}

li {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
  font-size: 1.5rem;
  list-style: none;
}

img {
  border-radius: 20px;
  border: 1px solid white;
  height: 40rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #0f20bb29;
  padding: 2rem;
  border-radius: 20px;
  z-index: 10;
  transition: 0.3s ease;
  z-index: 10;
}

ul:hover {
  background-color: #bb2e0f;
  transition: 0.3s;
  transform: scale(1.1) rotate(5deg);
}

ol {
  width: 70%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  background-color: #0f20bb29;
  padding: 2rem;
  border-radius: 20px;
  transition: 0.3s ease;
  z-index: 10;
}

ol:hover {
  background-color: #bb2e0f;
  transition: 0.3s;
  transform: scale(1.1) rotate(-5deg);
}

#backBtn {
  position: fixed;
  top: 0;
  left: 0;
  margin: 2rem;
  color: white;
  background-color: transparent;
  font-size: 1.5rem;
  border: 1px solid white;
  border-radius: 20px;
  padding: 1rem;
  transition: 0.3s;
  cursor: pointer;
  height: 25px;
  width: 25px;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
  z-index: 10;
}

#backBtn:hover {
  background-color: white;
  color: #1cb5e0;
  cursor: pointer;
}

img {
  border-radius: 20px;
  border: 1px solid white;
  height: 90vw;
  max-height: 40rem;
  z-index: 10;
  transition: 1s ease-in-out;
}
img:hover {
  transform: scale(1.1) rotate(5deg);
  transition: 0.3s;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f20bb29;
}

::-webkit-scrollbar-thumb {
  background: #bb2e0f;
}

::-webkit-scrollbar-thumb:hover {
  background: #e0611c;
}
